---
apiVersion: v1
kind: Config

current-context: "{{ item.current }}"
{% if item.clusters | length > 0 %}
clusters:
{% for cluster in item.clusters %}
  - name: {{ cluster.name }}
    cluster:
      api-version: {{ cluster.version | default('v1') }}
      certificate-authority-data: {{ cluster.ca | trim }}
      server: {{ cluster.server }}
{% endfor %}
{% else %}
clusters: []
{% endif %}
{% if item.users | length > 0 %}
users:
{% for user in item.users %}
  - name: {{ user.name }}
    user:
      as-user-extra: {{ user.extra | default({}) | to_yaml | trim }}
      client-certificate-data: {{ user.cert | trim }}
      client-key-data: {{ user.key | trim }}
{% endfor %}
{% else %}
users: []
{% endif %}
{% if item.contexts | length > 0 %}
contexts:
{% for context in item.contexts %}
  - name: {{ context.name }}
    context:
      cluster: {{ context.cluster }}
      user: {{ context.user }}
{% endfor %}
{% else %}
contexts: []
{% endif %}

...
